nclude ../mixins/dateInput
include ../components/alertasGestorOperacional
include ../components/modalAlerta
include ../components/collapsible-box


div(ng-controller="alertaGestorOperacionalCtrl")
	h1(ng-if="contadorTodosAlertas > 0") Seja bem-vindo,
		small.principal(ng-if="contadorTodosAlertas > 1")  você tem {{contadorTodosAlertas}} novos alertas.
		small.principal(ng-if="contadorTodosAlertas == 1")  você tem {{contadorTodosAlertas}} novo alerta.
	h1(ng-if="contadorTodosAlertas <= 0") Seja bem-vindo

ol.breadcrumb
	span Você está em:
	li.active Página Inicial

section

	+alertasGestorOperacional()

	div.panel.panel-default.lineChartContainer

		div.panel-heading
			span.panel-title
				strong Acompanhamentos dos processos

			div.pull-right.periodo
				label período: 
				+dateInput(id="dpDataInicial", name='dataInicial', ng-model='dataInicial', ng-required="false", change="mudarPeriodo()")
				label até
				+dateInput(id="dpDataFinal", name='dataFinal', ng-model='dataFinal', ng-required="false", change="mudarPeriodo()")
		
		div.panel-body

			div.btn-group.pull-right.agrupamento

				button.btn(type='button',
					ng-class="{active : agrupamentoAtivo('DIA')}",
					ng-click="mudarAgrupamento('DIA')") Dia

				button.btn(type='button',
					ng-class="{active : agrupamentoAtivo('SEMANA')}",
					ng-click="mudarAgrupamento('SEMANA')") Semana

				button.btn(type='button',
					ng-class="{active : agrupamentoAtivo('MES')}",
					ng-click="mudarAgrupamento('MES')") Mês

			div.pull-right
				span.legenda.legenda-cxa-entrada Caixa de entrada
				span.legenda.legenda-validacao-analise Validação da Análise

			.clearfix

			div#lineChart(ng-show="mostrarGraficoLinha")
			div.panel-body(ng-show="!mostrarGraficoLinha")
				label.no-data Não existem dados para serem exibidos

	fieldset.pieChartContainer(ng-click="scrollToElement()")

		ul.nav.nav-tabs.nav-justified(role="tablist")

			li
				a(ng-class="{active : estaAtivo('ativarCaixaEntrada')}",
					ng-click="ativarCaixaEntrada()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emCaixaEntrada}}
					div.tab-name Caixa de entrada

			li
				a(ng-class="{active : estaAtivo('ativarAcompanhamento')}",
					ng-click="ativarAcompanhamento()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emAcompanhamento}}
					div.tab-name Análise

			li
				a(ng-class="{active : estaAtivo('ativarValidacaoAnalise')}",
					ng-click="ativarValidacaoAnalise()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emValidacaoAnalise}}
					div.tab-name Validação da Análise

			li
				a(ng-class="{active : estaAtivo('ativarComunicacao')}",
					ng-click="ativarComunicacao()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emComunicacao}}
					div.tab-name Comunicação

			li
				a(ng-class="{active : estaAtivo('ativarValidadosSemPendencia')}",
					ng-click="ativarValidadosSemPendencia()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emValidadosSemPendencia}}
					div.tab-name Validados sem pendência

			li
				a(ng-class="{active : estaAtivo('ativarCancelamento')}",
					ng-click="ativarCancelamento()")
					div.tab-icon
						span.inbox.glyphicon.glyphicon-inbox
						span.label-contador {{quantidade.emCancelamento}}
					div.tab-name Cancelamento

		div.panel.panel-default.pieChartBody

			div.panel-body(ng-show="mostrarGraficoPizza")
				div#pieChart
				table.table-hover.legenda
					thead
						tr
							th(colspan='3') {{legenda.titulo}}
					tbody
						tr(ng-repeat="dado in legenda.dados")

							td.indice
								div(ng-style="{'background-color' : dado.color}")

							td {{dado.label}}
								hr
								div.sublegenda(ng-repeat="subGrupo in dado.subGrupo")
									span {{subGrupo.nome}}
									hr
									span.pull-right.quantidade-sublegenda {{subGrupo.quantidade}}

							td {{dado.value}}

				table.table.table-hover.acompanhamento(ng-show="estaAtivo('ativarAcompanhamento') && membrosEquipe.length > 0")
					thead
						tr
							th Técnico
							th.text-right Verde
							th.text-right Amarelo
							th.text-right Vermelho
							th.text-right Total

					tbody
						tr(ng-repeat="membroEquipe in membrosEquipe")
							td {{membroEquipe.nome}}
							td.text-right {{membroEquipe.verde.quantidade}}
							td.text-right {{membroEquipe.amarelo.quantidade}}
							td.text-right {{membroEquipe.vermelho.quantidade}}
							td.text-right {{membroEquipe.total}}

			div.panel-body(ng-show="!mostrarGraficoPizza")
				label.no-data Não existem dados para serem exibidos
